*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(23, 10, 31);
    color: white;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

#Add,#AddPágina{
    text-align: center;
    background: linear-gradient(135deg , rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(1vh);
    -webkit-backdrop-filter: blur(8vh);
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 2vh;
}

:is(#Add,#AddPágina) > h1{
    padding: 2vh;
}

#AddInputsConteudo{
    padding: 2vh;
    text-align: center;
}

input,textarea,label{
    all: unset;
    border: 0.3vh solid white;
    padding: 2vh;
    width: 70%;
    border-radius: 2vh;
    display: block;
    margin: auto;
    background-color: black;
    margin-top: 3vh;
}

label{
    text-align: center;
    width: 60%;
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 5em;
    padding: 0;
    width: 5em;
  }

:is(input,textarea)::placeholder{
    color: white;
}

#Centralizar{
    border: 0.2vh solid transparent;
    height: 85%;
    width: 90%;
    margin: auto;
    overflow: auto;
}

#Centralizar::-webkit-scrollbar{
    width: 0px;
}

#Centralizar > button, #AddPágiFunc,.Button_Input,form > button{
    all: unset;
    width: 20%;
    border: 0.4vh solid white;
    background-color: black;
    border-radius:4vh;
    cursor: pointer;
    padding: 2vh;
    height: 5vh;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 1vh;
}

#Sidebar,#SidebarPáginas{
    border-right: 0.2vh solid rgb(0, 0, 0);
    width: 30vh;
    height: 100vh;
    background-color: rgb(34, 30, 30);
    color: white;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 2;
}

#SidebarPáginas{
    border: 0.2vh solid black;
    margin-left: 30vh;
}

#CloseSidebar,#OpenSidebar{
    all: unset;
    cursor: pointer;
    padding: 0.3vh;
    position: fixed;
    left: 0;
    font-size: 3vh;
}


#SidebarConteudo,#SidebarPáginaConteudo{
    border: 0.2vh solid transparent;
    margin-top: 4vh;
    height: 90%;
    overflow: auto;
}

#SidebarPáginas{
    display: none;
}

#CaixaConteudoCaixa{
    display: flex;
    height: 4vh;
}

:is(#SidebarConteudo,#SidebarPáginaConteudo) > div > h1{
    font-size: 2.3vh;
    padding: 0.6vh;
    cursor: pointer;
    text-align: left;
    padding-left: 2vh;
    border: 0.2vh solid transparent;
    overflow: auto;
    width: 20vh;
}

:is(#SidebarConteudo,#SidebarPáginaConteudo) > div > button{
    all: unset;
    cursor: pointer;
    font-size: 2vh;
}

:is(#SidebarConteudo,#SidebarPáginaConteudo) > div > button:hover{
    text-shadow: 0.2vh 0.2vh 0.3vh white;
}

:is(#SidebarConteudo,#SidebarPáginaConteudo) > div > h1::-webkit-scrollbar{
    width: 0px;
}

#CaixaConteudoCaixa:hover{
    border: 0.2vh solid white;
    background-color: black;
}

/* .ConteudoCaixa{
    display: block;
    margin: auto;
    text-align: center;
    border: 0.2vh solid white;
    width: 50%;
    padding: 2vh;
    margin-top: 2vh;
    border-radius: 0.5vh;
    background-color: rgb(43, 17, 59);
    color: yellow;
    cursor: pointer;
    font-size: 3vh;
} */

#Input,#Conteudo > button{
    display: block;
    text-align: center;
    margin: auto;
}

#Inputs{
    background: linear-gradient(135deg , rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(1vh);
    -webkit-backdrop-filter: blur(8vh);
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 6;
    overflow: auto;
}

#Inputs::-webkit-scrollbar{
    width: 0px;
}

#Add_Conteudo{
    all: unset;
    border: 0.2vh solid white;
    position: fixed;
    bottom: 0;
    padding: 2vh;
    cursor: pointer;
    right: 0;
    z-index: 0;
    border-radius: 1vh 0vh 0vh 0vh;
    background-color: rgb(23, 10, 31);
    width: 20vh;
    height: 5vh;
    font-size: 2vh;
}

#Configuration{
    border: 0.2vh solid white;
    background-color: black;
    width: 20vh;
    position: fixed;
    top: 0;
    right: 0;
    height: 99vh;
    display: none;
}

.ImgCreate{
    width: 20%;
    height: 20vh;
    cursor: pointer;
}

#Caixa_DADOS{
    background: rgb(23, 10, 31,0.71);
    padding: 2vh;
    height: 96vh;
    right: 0;
    fill-opacity: 80%;
    border: 0.2vh solid transparent;
    overflow: auto;
}

#Caixa_DADOS::-webkit-scrollbar{
    width: 0px;
}

#Caixa_DADOS > h1{
    color: white;
    font-size: 6vh;
    padding-left: 2vh;
    border-bottom:0.4vh solid white ;
    width: 70vh;
    overflow: auto;
}
#Caixa_DADOS > h3{
    font-size: 2vh;
    padding-left: 2vh;
}

#Caixa_DADOS > h1::-webkit-scrollbar{
    width: 0px;
}



#Caixa_MiniText{
    border: 0.4vh solid white;
    display: block;
    background: rgb(23, 10, 31,0.71);
    fill-opacity: 80%;
    width: 80%;
    word-break: break-all;
    height: 70vh;
    text-align: center;
    border-radius: 2vh;
    overflow: auto;
    margin: auto;
    margin-top: 3vh;
    padding: 2vh;
}

#Caixa_MiniText > img{
    width: 40%;
    height: 40vh;
    padding: 2vh;
}

#Caixa_MiniText > h1{
    font-size: 6vh;
    padding: 2vh;
    text-transform: uppercase;
}

#Caixa_MiniText > p{
    font-size: 4vh;
    padding: 1vh;
}

#Caixa_MiniText::-webkit-scrollbar{
    width: 0px;
}

#AddSeção,.EnviarBtn{
    all: unset;
    border-top: 0.2vh solid black;
    background-color: transparent;
    color: rgb(104, 8, 182);
    padding: 2vh;
    font-size: 2vh;
    cursor: pointer;
    text-align: left;
    width: 25.7vh;
    font-weight: bold;
}

#Caixa_MiniText > button{
    all: unset;
    cursor: pointer;
    display: inline-block;
    width: 50%;
}


#FecharConfig{
    border: 0.2vh solid white;
    right: 0;
    bottom: 0;
}

body::-webkit-scrollbar{
    width: 0px;
}

#Config_Conteudo{
    border: 0.2vh solid transparent;
    display: block;
    width: 95%;
    margin: auto;
    overflow: auto;
}

#Config_Conteudo > h1{
    color: white;
    padding: 2vh;
    margin: auto;
    font-size: 6vh;
}
#Config_Conteudo > img{
    display: inline-block;
    width: 20vh;
    height: 20vh;
    padding-left: 2vh;
    cursor: pointer;
}

#Config_Conteudo::-webkit-scrollbar{
    width: 0px;
}

:is(#Config_Conteudo) > h3,h2{
    padding-left: 2vh;
    cursor: pointer;
    font-size: 3vh;
}
:is(#Config_Conteudo > h3 , #Config_Conteudo> h2,#Caixa_MiniText > button):hover{
    text-shadow: 0.2vh 0.2vh 0.3vh purple;
    color: yellow;
}

#Caixa_MiniText > button:hover{
    background-color: white;
}