<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body id="Body">
    <div id="Add">
        <h1>Adicionar uma Seção</h1>
        <input type="text" placeholder="Nome do arquivo" id="Name">
        <input type="text" placeholder="Adicionar uma Font" id="Font">
        <input type="text" placeholder="Adicionar o Link da Font" id="Font_Link">
        <input type="text" placeholder="Adicionar um Background Url" id="BackURL">
        <input type="file" placeholder="Adicionar um Background File" id="BackFile">
        <button onclick="Salvar()">Salvar</button>
    </div>
    <button id="OpenSidebar">☰</button>
    <div id="Sidebar">
        <button id="CloseSidebar">☰</button>
        <div id="SidebarConteudo"></div>
        <button onclick="Abrir_Input()" id="AddSeção">+ Adicionar Seção</button>
    </div>
    <div id="SidebarPáginas"></div>
    <div id="Conteudo"></div>
    <div id="Configuration"></div>
</body>
<script src="../static/script.js"></script>
</html>